---
layout: default
---
<body class="{{ site.harmony.basetheme }}">
        <header class="main-header">
            <div class="wc-container">
                <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                <h2>{{ site.description }}</h2>
                {% include header-links.html %}                
            </div>
        </header>
<div id="home" class="page-content wc-container">
	<div class="posts">
  		{% for post in site.posts limit:10 %}
  			<div class="post">          
  				<p>
                    this is where the post goes:
	  				{{ site.post }}	
  				</p>
  			</div>
  		{% endfor %}
	</div>
</body>    
<!--	<div class="post-footer">
		<div class="column-full">Thanks n stuff</div>
	</div> -->
</div>