---
layout: default
---
<header class="main-header">
    <div class="wc-container">
      {% include header-links.html %}
      <h1 class="h1">{{ site.name }}</h1>
      <blockquote>{{ site.description }}</blockquote>
    </div>
</header>
<!-- This is the post part -->
<div id="home" class="page-content wc-container">
	<div class="posts">
  		{% for post in site.posts %}
  			<div class="post">  
                {{ post }}
  			</div>
  		{% endfor %}
	</div>
    
<!--	<div class="post-footer">
		<div class="column-full">Thanks n stuff</div>
	</div> -->
</div>
