<!DOCTYPE html>
<html>
    {% include head.html %}
    

    {{ content }}

    
    
    
    <footer class="main-footer">
                <div class="wc-container">
                    <div class="column one">
                        {% include footer-links.html %}                    
                    </div>
                    <div class="column two">
                        {% include social.html %}
                    </div>
                </div>
                <p class="wc-container disclaimer">
                    {% include footer.html %}
                </p>
    </footer>
</html>
